* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  list-style: none;
  font-family: "Maax-Regular";
  text-decoration: none;
  color: black;
  cursor: auto;
}

$primary-white: #ffffff;
$primary-blue: #00365e;
$primary-pink: #dd0069;

$background-light: #e5ebef;
$background-med: #bfbfbf;
$background-dark: #222222;

$positive-color: #00b588;
$negative-color: #b50000;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin img-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "Maax-Regular";
  src: url(../fonts/maax-regular.woff2);
}

@font-face {
  font-family: "Maax-Medium";
  src: url(../fonts/maax-medium.woff2);
}

@font-face {
  font-family: "Maax-Bold";
  src: url(../fonts/maax-bold.woff2);
}

body {
  width: 100%;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  background-color: $background-dark;
  @include flex-center();

  .card {
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;

    display: flex;

    * {
      height: 100%;
    }

    @keyframes initializeSwitch {
      0% {
        width: 0%;
      }

      25% {
        width: 0%;
      }

      50% {
        width: 40%;
        opacity: 0;
        transform: scaleX(1);
      }

      100% {
        opacity: 1;
        width: 40%;
        transform: scaleX(1);
      }
    }

    @keyframes requestSwitch {
      0% {
        width: 40%;
      }

      25% {
        width: 0;
      }

      50% {
        width: 40%;
        opacity: 0;
        transform: scaleX(1);
      }

      100% {
        opacity: 1;
        width: 40%;
        transform: scaleX(1);
      }
    }

    .initialize {
      animation: initializeSwitch 5s ease forwards;
    }

    .register {
      animation: requestSwitch 5s ease forwards;
    }

    .login {
      animation: requestSwitch 5s ease forwards;
    }

    .forum {
      width: 0%;
      transform: scaleX(0);
      display: flex;
      flex-direction: column;
      opacity: 0;

      h1 {
        width: 100%;
        height: 25%;
        color: $background-light;
        white-space: nowrap;
      }

      div {
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: column;
        color: $background-light;
        // background-color: $background-dark;

        input {
          width: 80%;
          height: 50%;
          margin-top: 2.5%;
          margin-left: 5%;
          padding: 0 5%;
          background: rgba(255, 255, 255, 0.1);
          color: $background-light;
          border-radius: 5px;
        }
      }

      footer {
        width: 80%;
        flex: 1;
        display: flex;
        justify-content: space-between;

        display: flex;
        align-items: flex-end;

        input {
          height: 30%;
          width: 50%;
          border-radius: 5px;
          padding: 0 5%;
          max-width: 45%;
          font-family: "Maax-Bold";
        }
      }
    }

    @keyframes gradientMove {
      0% {
        background-position: 30% 30%;
      }
      50% {
        background-position: 60% 60%;
      }
      100% {
        background-position: 30% 30%;
      }
    }

    .logo {
      flex: 1;
      border-radius: 25px;
      background: linear-gradient(23deg, #00365e, #dd0069);
      position: relative;
      @include flex-center();
      animation: gradientMove 10s ease infinite;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        z-index: 1;
      }

      #img {
        width: 80%;
        height: 80%;
        position: relative;
        z-index: 2;
        background-image: url(../images/ace.png);
        @include img-center();
      }
    }
  }

  .island {
    width: 5%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    button {
      aspect-ratio: 1 / 1;
      width: 100%;
      min-height: 10%;
      height: auto;
      border-radius: 25px;
      background: linear-gradient(23deg, #00365e, #dd0069);
      position: relative;
      @include flex-center();
      animation: gradientMove 10s ease infinite;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        backdrop-filter: blur(10px);
        z-index: 1;
      }

      i {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include flex-center();
        z-index: 5000;
        color: $background-med;
        font-size: 150%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
